// Note for grading: this partial file shows examples of mixins with/without the usage of arguments
@mixin nospace {
    margin: 0;
    padding: 0;
}
@mixin standardDesktopCardLayout($flexpercent, $borderradius) {
    flex-basis: $flexpercent;
    border-radius: $borderradius;
}
@mixin maxwidth {
    max-width: $max-width;
}
@mixin flexrowrap {
    display: flex;
    flex-flow: row wrap;
}
@mixin griddisplay {
    display: grid;
    grid-template-columns: 1fr;    
}