$navy-blue: #082B59;
$brown: #59331d;
$orange: #d98555;
$white: #ffffff;
$primary-color:rgb(23, 117, 0);

@mixin standardDesktopCardLayout {
    flex-basis: 30%;
    display: flex;
    border-radius: 10px;
  }

@mixin noSpace {
    margin: 0;
    padding: 0;
  }

html {
    box-sizing: border-box;
  }
  
*, *::before, *::after {
    box-sizing: inherit;
  }
  body {
    background-color: $navy-blue;
    @include noSpace();
    font-family: 'Lato', sans-serif;
    line-height: 2;
  }
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }
  img, source {
    width:100%;
    max-width:1200px;
    height:auto;
    border-radius: 10px;
  }
  a {
    color: $brown;
  }
  a:hover {
    text-decoration: none;
  }
  header {
    border-bottom: 10px solid $orange;
  }
  nav ul {
    @include noSpace();
    list-style-type: none;
    display: grid;
    /* flex-flow: row wrap; */
    grid-template-columns: 1fr;
  }
  nav li {
    margin: 0 1rem 1rem 1rem;
    font-size: 1.3rem;
    text-align: center;
  }
  nav .logo img {
    max-width: 150px;
  }
  nav .logo {
    flex-basis: 100%;
    text-align: center;
  }
  nav .logo:hover {
    background-color: $navy-blue;
  }
  nav a {
    color: $white;
    text-decoration: none;
    display: block;
  }
  nav a:hover {
    background-color:$primary-color;
  }
  .main-bkgd {
    background: $white url(https://assets.codepen.io/6306176/gulp-bean-bkgd.jpg) repeat-x bottom;
    padding-bottom: 300px;
  }
  .main-bkgd h1 {
    flex-basis: 100%;
  }
  .main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: space-between;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2rem;
  }
  .card1, .card2, .card3 {
    flex-basis: 100%;
    border-radius: 10px;
  }
  .carddesc {
    padding: 1rem;
  }

  /* Tablet Screen Size */
  @media (min-width: 768px) {
    nav ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    } 
    .main {
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      width: 90%;
    }
    .card1, .card2, .card3 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    } 
  }
  @media (min-width: 992px) {
    nav ul {
      max-width: 1200px;
      margin: 0 auto;
      width: 90%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      align-items: center;
    }
    nav li {
      margin: 0;
    }
    nav .logo {
      grid-column: 1/2;
      padding: 1rem;
    }
    nav .menu-about {
      grid-column: 4/5;
    }
    nav .menu-products {
      grid-column: 5/6;
    }
    nav .menu-contact {
      grid-column: 6/7;
    }
    .main {
      grid-template-columns: 1fr 1fr;
      align-items: center;
      padding-top: 2rem;
    }
    .container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    .card1, .card3 {
      @include standardDesktopCardLayout();
      flex-flow: row wrap;
    }
    .card2 {
      @include standardDesktopCardLayout();
      flex-flow: row wrap-reverse;
      
    }
  }

  .button {
    display: inline-block;
    background-color: $brown;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0;
    color: $white;
    text-decoration: none;
    border: 2px solid $brown;
  }
  .button:hover {
    background-color: $white;
    color: $brown;
  }
  footer {
    color: $white;
    text-align: center;
    border-top: 10px solid $orange;
  }
  footer ul {
    list-style-type: none;
    @include noSpace();
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  footer a {
    color: $white;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
  }