$navy-blue: #082B59;
$brown: #59331d;
$orange: #d98555;
$white: #ffffff;
//$off-white: #f2f2f2;

@mixin nospace {
    margin: 0;
    padding: 0;
}

@mixin standardDesktopCardLayout{
    flex-basis: 30%;
    border-radius: 10px;
}

@mixin maxwidth{
    max-width: 1200px;
}

@mixin flexrowrap {
    display: flex;
    flex-flow: row wrap;
}

@mixin griddisplay {
    display: grid;
    grid-template-columns: 1fr;    
}

html {
    box-sizing: border-box;
  }
  
*, *::before, *::after {
    box-sizing: inherit;
  }
  body {
    @include nonspace;
    background-color: $navy-blue;
    font-family: 'Lato', sans-serif;
    line-height: 2;
  }
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }
  img, source {
    @include maxwidth();
    width:100%;
    height:auto;
    border-radius: 10px;
  }
  a {
    color: $brown;
  }
  a:hover {
    text-decoration: none;
  }
  header {
    border-bottom: 10px solid $orange;
  }
  nav ul {
    @include nospace();
    @include griddisplay;
    list-style-type: none;
    /* flex-flow: row wrap; */
  }
  nav li {
    margin: 0 1rem 1rem 1rem;
    font-size: 1.3rem;
    text-align: center;
  }
  nav .logo img {
    @include maxwidth(150px);
  }
  nav .logo {
    flex-basis: 100%;
    text-align: center;
  }
  nav .logo:hover {
    background-color: $navy-blue;
  }
  nav a {
    color: $white;
    text-decoration: none;
    display: block;
  }
  nav a:hover {
    color: $orange;
  }
  .main-bkgd {
    background: $white url(https://assets.codepen.io/6306176/gulp-bean-bkgd.jpg) repeat-x bottom;
    padding-bottom: 300px;
  }
  .main-bkgd h1 {
    flex-basis: 100%;
  }
  .main {
    @include nospace(0 auto, 2rem);
    @include maxwidth();
    @include griddisplay();
    gap: 1rem;
    justify-content: space-between;
  }
  .container {
    @include nospace(0 auto, 2rem)
    @include maxwidth;
    @include flexrowrap();
    justify-content: space-between;
    gap: 2rem;
  }
  .card1, .card2, .card3 {
    flex-basis: 100%;
    border-radius: 10px;
  }
  .carddesc {
    padding: 1rem;
  }

  /* Tablet Screen Size */
  @media (min-width: 768px) {
    nav ul {
        @include flexrowrap();
      justify-content: center;
    } 
    .main {
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      width: 90%;
    }
    .card1, .card2, .card3 {
        @include griddisplay(grid, repeat(2, 1fr));
    } 
  }
  @media (min-width: 992px) {
    nav ul {
        @include maxwidth();
        @include griddisplay(grid, repeat(6, 1fr));
      margin: 0 auto;
      width: 90%;
      align-items: center;
    }
    nav li {
      margin: 0;
    }
    nav .logo {
      grid-column: 1/2;
      padding: 1rem;
    }
    nav .menu-about {
      grid-column: 4/5;
    }
    nav .menu-products {
      grid-column: 5/6;
    }
    nav .menu-contact {
      grid-column: 6/7;
    }
    .main {
      grid-template-columns: 1fr 1fr;
      align-items: center;
      padding-top: 2rem;
    }
    .container {
        @include flexrowrap();
    }
    .card1, .card3 {
        @include standardDesktopCardLayout()
        @include flexrowrap;
    }
    .card2 {
        @include standardDesktopCardLayout()
        @include flexrowrap(flex, row wrap-reverse);
    }
  }

  .button {
    @include nospace(0, 0.5rem 1rem)
    display: inline-block;
    background-color: $brown;
    border-radius: 10px;
    color: $white;
    text-decoration: none;
    border: 2px solid $brown;
  }
  .button:hover {
    background-color: $white;
    color: $brown;
  }
  footer {
    color: $white;
    text-align: center;
    border-top: 10px solid $orange;
  }
  footer ul {
    @include nospace();
    @include flexrowrap;
    list-style-type: none;
    justify-content: center;
  }
  footer a {
    color: $white;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
  }